.Contactformcont{
    /* width:100vw; */
    height:100vh;
    display:flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    /* background: #232323; */
    
}
.Contactform{
    height:50vh;
    margin-top: 25vh;
    /* background-color:blue; */
}
.message{
    width:60.5vw;
    display:flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    font-size: 3vw;
    justify-content:space-evenly;
    margin-left:13.4vw;
    padding-bottom: 5vh;

}
.nameandemailcont{
    width:60.5vw;
    display:flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    /* font-size: 2.5rem; */
    justify-content:space-evenly;
    margin-left:13.4vw;
    padding-bottom: 3vh;
}
.namecont{
    font-size: 2.5rem;
    display: flex;
    flex-direction: row ;
}

.emailcont{
    display: flex;
    flex-direction: row ;
}

.messagecont{
    
    width:60vw;
    font-size: 2.5rem;
    margin-left:13.4vw;
    display:flex;
    flex-direction: column;
    
}
.submit{
    /* background-color: blueviolet; */
    
    padding-left: 68.8vw;
    width:73.5vw;
    /* float:right; */
    padding-top: 3vh;
}
@media only screen and (max-width: 1000px) {
    .nameandemailcont{
        width:70vw;
    }
    .message{
        width:70vw;
        font-size: 1.7rem;
    }
    .messagecont{
        width:70vw;
    }
    .submit{
        /* background-color: blueviolet; */
        
        padding-left: 66vw;
        width:73.5vw;
        /* float:right; */
        padding-top: 4vh;
    }
}