 .NavBarcont {
  background-color:rgba(153, 154, 198, 0.65);
  box-shadow: 0px 5px 1px 2px rgba(0,0,0,.1);
  backdrop-filter: blur(10px);
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 62px;
  z-index: 1;
} 
.hashlinktohome{
  z-index: 3;
}

.Logo{
  /* background-color: black; */
    height:55px;
    padding-top:10px;
    padding-left: 15px; 
    transition-property:transform, filter;
    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
}

ul {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  /* background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px); */
}
li {
  float: right;
  padding-right: 35px;
}

li a {
  font-size: .9rem;
  display: block;
  color: rgb(232, 235, 228);
  /* text-align: center; */
  padding: 25px 16px;
  text-decoration: none;
  transition-property:transform, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: black;
}

.contact{
  border-style: solid;
  border-color: rgb(232, 235, 228);
  padding: 10px;
  margin-top: 10px;
  border-radius: 7px;
  text-align: center;
  color:rgb(232, 235, 228);
  transition-property:transform, background-color,color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
}
.contact:hover{
  background-color: rgba(153, 154, 198, 0.65);
  color:rgb(232, 235, 228);
}


@media only screen and (max-width: 1000px) {
/* Position and sizing of burger button */

  .nonmobile{
    display:none;
  }
  

}