 .NavBarcont {
  background-color:rgba(153, 154, 198, 0.65);

  backdrop-filter: blur(10px);
  position: -webkit-sticky;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 62px;
  z-index: 1;
} 
.hashlinktohome{
  z-index: 2;
}
.Logo{
    height:62px;
    padding-left: 10px; 
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  /* background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px); */
}
li {
  float: right;
  padding-right: 35px;
}

li a {
  font-size: .75rem;
  display: block;
  color: rgb(232, 235, 228);
  /* text-align: center; */
  padding: 25px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #111;
}

.contact{
  border-style: solid;
  border-color: rgb(232, 235, 228);
  padding: 10px;
  margin-top: 10px;
  border-radius: 7px;
  text-align: center;
  color:rgb(232, 235, 228);
}
.contact:hover{
  background-color: rgb(41,47,54);
  color:white;
}


@media only screen and (max-width: 1000px) {
/* Position and sizing of burger button */

  .nonmobile{
    display:none;
  }
  

}