.smbcont{
    /* background-color: aquamarine; */
    height: 30vh;
    justify-content: space-between;
    display: flex;
    position: -webkit-sticky;
    position: fixed;
    flex-direction: column;
    padding-left: 3vw;
    font-size: 1.25rem;
    bottom:0vh;
    z-index: 2;
    
}
/* .links{
    background-color: grey;
} */
.links:link{
    color: rgb(232, 235, 228);
    text-decoration: none;
}
.links:visited{
    color: rgb(232, 235, 228);
}
.smbcont:after{
    content: "";
    display: block;
    width: 2px;
    height: 90px;
    margin: 0px auto;
    background-color: white;
}

.fa-github{
    padding-left: 3.5px;
}
.fa-instagram{
    padding-left: 5px;
}
.fa-linkedin-in{
    padding-left: 3.8px;
}
.fa-handshake:hover{
    color:red;
}
.fa-instagram:hover{
    color: pink;
}

.fa-github:hover{

    color:darkgrey;
}

.fa-linkedin-in:hover{

    color:#2867B2;
}

@media only screen and (max-width: 900px) {
    .smbcont{
        display:none;
    }
}
