.Bodycont{
    /* padding-top: 15vw; */
    /* padding-left: 31vw;
    padding-right: 30vw; */
    width: 100vw;
    height: 100vh;
    background-color:thistle;
    display:flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
}
.actualbiocont{
    width:50%;
    position: relative;
    height:min-content;
    /* display:flex; */
    /* font-size: 2vw; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: tomato; */
    /* align-items: center; */

}  
.outerbordercont{
    width:110%;
    height:100%;
    position:absolute;
    /* display:flex; */
    /* background-color: khaki; */
    border-style: outset;
    border-radius: 2vw;
    border-color:burlywood;
    /* width: 110%;
    height: 110%; */
    padding:2vw;
    left:-5vw;
    transition-property: transform, border-radius;
    transition-timing-function: linear;
    transition-duration: .2s;
}
.outerbordercont:hover{
    transform:scale(1.1);
    border-radius: 10% / 50%;
    /* padding:2vw; */
}

.aboutmecont{
    /* background-color: teal; */
    /* width:30vw; */
    /* text-align: center; */
    font-size: 3vw;
    
}
.descriptioncont{
    padding-top: 1.5vw; 
    padding-left: 3.5vw;
    /* background-color: lawngreen; */
    /* border-width:.5vw;
    border-color:lightblue;
    border-style: solid;
    border-radius: 1vw;
*/
    /* i want a corner in top left, and bottom right for this text box somehow */
    font-size: 2vw;
}
/* mediaquery for iphonex */
@media only screen and (max-width:800px){
    .aboutmecont{
        font-size:8vw;
    }
    .descriptioncont{
        padding-top: 5vh;
        font-size:5vw;
    }
    .Bodycont{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}