.Body2cont{

    width: 100vw;
    height: 100vh;
    background-color:powderblue;
    display:flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
}
/* have prog language right under icon, so employers can ctrl f and look for s */
.Languagescont{
    width:50%;
    /* height:50%; */
    position:relative;
    display:flex;
    flex-direction: column;
    /* background-color: snow; */
}
.langbox{
    padding-top: 1vw;
    /* background-color: slategray; */
    /* text-align: left; */
    font-size: 1.8rem;
}
.langthrough3cont{
    padding-top: 4.5vw; 
    /* padding-left: 3.5vw; */
    /* background-color: lightcoral; */
    /* position: relative;  */
    /* border-radius: 20%; */
    border-top-width: 0vw;
    border-left-width: 0vw;
    border-right-width: 0vw;
    border-color:white;
    /* border-bottom-width: 1px; */
    padding-bottom: 1vw;
    border-style: solid;
    display:flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
    font-size: 5rem;
}
.devicon-cplusplus-line{
    /* font-size: 5rem; */
    color:white;
    /* background-color: purple; */
    border-radius: 20%;
    border-width: .2rem;
    border-style: solid;
    padding:.3vw;
}
.devicon-css3-plain{
    /* font-size: 5rem; */
    color:white;
    /* background-color: purple; */
    border-radius: 20%;
    border-width: .2rem;
    border-style: solid;
    padding:.3vw;
}
.devicon-html5-plain{
    /* font-size:5rem; */
    color:white;
    padding:.3vw;
    /* background-color: purple; */
    border-radius: 20%;
    border-width: .2rem;
    border-style: solid;
}
.devicon-react-original{
    /* font-size:5rem; */
    color:white;
    padding: .3vw;
    /* background-color: purple; */
    border-radius: 20%;
    border-width: .2rem;
    border-style: solid;
}
.devicon-javascript-plain{
    /* font-size:5rem; */
    color:white;
    padding: .3vw;
    /* background-color: purple; */
    border-radius: 20%;
    border-width: .2rem;
    border-style: solid;
}
.devicon-python-plain{
    /* font-size:5rem; */
    color:white;
    padding:.3vw;
    /* background-color: purple; */
    border-radius: 20%;
    border-width: .2rem;
    border-style: solid;
}
.langthrough6cont{
    font-size: 5rem;
    padding-top: 1vw; 
    
    /* padding-left: 3.5vw; */
    /* background-color: lightcoral; */
    /* position: relative;  */
    display:flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
}
.alllangcont{
    /* background-color: purple; */
}
@media only screen and (max-width:700px){
    .langthrough3cont{
        padding-top:2vw;
    flex-direction: column;
    font-size: 13vw;
    border-top-width: 0vw;
    border-left-width: 0vw;
    border-right-width: .2rem;
    border-color:white;
    border-bottom-width: 0px;
    padding-right: 5vw;
    justify-content: space-evenly;
    }
    .langthrough6cont{
        padding-left: 5vw;
        padding-top: 2vw;
        flex-direction: column;
        font-size:13vw;
    }
    .alllangcont{
        /* background-color: purple; */
        display:flex;
        flex-direction: row;
        justify-content: center;
        /* align-items: center; */
    }
    .langbox{
        padding-bottom: 4vw;
        font-size:5vw;
    }
}