.Body3cont {
  /* width: 100vw; */
  height: 100vh; 
  background-color: rgb(41,47,54);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  /* padding-top: 10vh; */
  padding-bottom: 5vh;
}
.omegaprojectcont{
  display: flex;
  width: 50%;
  position: relative;
  flex-direction: column;
}
.projectscont {
  /* background-color:lightgray; */
  width: 100%;
  /* height:70vh; */
  position: relative;
  display: flex;
  flex-direction: row;
}
.projectwordbox {
  /* background-color: aquamarine; */
  /* height:70vh; */
  font-size: 2.5rem;
  color:rgb(232, 235, 228);
}
.projectscont::after {
  content: "";
  margin-top: 1.8rem;
  margin-left: 1vw;
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(153, 154, 198);
}
.projectcont{
    /* background-color:black; */
    display: flex;
    flex-direction: row;
    width:100%;
color:rgb(232, 235, 228);
    /* border separating projects (can c/p) */
    border-style: solid;
    border-left-width: 0vw;
    border-right-width: 0vw;
    border-bottom-width: .2rem;
    border-top-width: 0vw;
    padding-bottom: 5vh;
    border-color:rgb(153, 154, 198);
}
.projectnameanddesccont{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.projectnamecont {
    display:flex;
    flex-direction: row-reverse;
    /* padding-left: 10.5vw; */
    /* background-color: blueviolet; */
}

.projectname {
    display: flex;
    /* background-color: aquamarine; */
    font-size:1.75vw;
    padding-bottom: 2vh;
    padding-left: 1vw;
    /* position: ; */
    /* margin-left: auto; */
    /* position:absolute; */
    /* right:0vw; */
    /* position: sticky; */
}
.projectdescription{
 -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  transform: translateZ(0);
    /* width:50%; */
    padding:20px;
    font-size: .85vw;
    margin-left: -5rem;
    /* background-color: grey; */
    backdrop-filter: blur(15px);
    background: rgba(8, 8, 8, 0.2);
    border-radius: 1rem;
    /* filter: */
    color:white;
}
.projectimg{
  
    width:100%;
    display:flex;
    padding-top: 5vh;
}
.languagesp{
    padding-top: .5vh;
    word-spacing: 1rem;
    display: flex;
    font-size: .7vw;
    flex-direction: row-reverse;
    /* justify-content: space-evenly; */
    /* margin-left: auto; */
    padding-left: 1vw;
}
.website{
    width:25vw;
    height:fit-content;
    
    /* border-style: solid; */
    border-radius: .5rem;
    /* border-width: 0.5rem; */
}
@media only screen and (max-width: 1100px) {
  .Body3cont{
    display: flex;
    align-items: center;
  }
  .omegaprojectcont{
  /* padding-top: 25vh; */
  width:75vw;
  /* height:100%; */
  /* align-items: center; */
  justify-content:left;
  }
  .projectimg{
    padding-top: 4vh;
    display: flex;
}
  .projectcont{
    /* padding-top: 5vh; */
    display: flex;
    flex-direction: column-reverse;
    width:75vw;
    padding-bottom: 5vh;
}
.website{
  width:100%;
    /* max-width:100vw; */
    height:fit-content;
    max-height:40vh;
    /* height:fit-content; */
}
.projectdescription{
  
  width:96%;
  padding:10px;
  font-size: 1rem;
  margin-left: 0rem;
}
.languagesp{
  padding-top: .5rem;
  flex-direction: row;
  font-size:.8rem;
}
.projectscont {
  /* padding-top: 10vh; */
  /* background-color:lightgray; */
  width: 100%;
  /* height:50%; */
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom:5vh;
}
.projectnamecont {
  /* display:flex; */
  flex-direction: row;
}
.projectwordbox{
  
  font-size: 2rem;
}
.projectname{
  padding-left:0px;
  font-size: 1.75rem;

}
.projectscont::after {
margin-top:1.5rem;
}
}