.Bodycont {
  /* width: 100vw; */
  height: 65vh;
  background-color: rgb(41,47,54);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
}
.border{
  /* background-color: teal; */

  position: absolute;
  

}
.actualbiocont {
  width: 50%;
  position: relative;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color:teal; */

}

/* .outerbordercont { */
  /* background-color: teal; */
  /* width: 100%;
  height: 100%; 
  position: absolute;
  border-style: solid;
  border-color: white;
  border-width: 0vw;
  border-radius: 3vw;
  padding: 10vw; 
  left: -2vw;
  /* right:-2310vw; */
  /* top:3vh; */
   /* transition-property: transform, border-top-width, border-bottom-width,
    border-left-width, border-right-width, border-top-left-radius,
    border-top-right-radius;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s; */
/* } */
/* .outerbordercont:hover { */
  /* border-top-width: .4vw; */
  /* border-bottom-width: .4rem;
    border-right-width:.4rem;
    border-left-width: .4rem;
    border-bottom-left-radius:2vw;
    border-bottom-right-radius: 2vw;
     */
  /* border-right-width: 0.3rem;
  border-left-width: 0.3rem; */
/* } */

.aboutmecont {
  display: flex;
  flex-direction: row;
  /* background-color: aquamarine; */
}
.actualnamecont {
  color:rgb(232, 235, 228);
  /* width: 20vw; */
  font-size: 2.5rem;
  
}
.aboutmecont::after {
  content: "";
  margin-top: 1.85rem;
  margin-left: 1vw;
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(153, 154, 198);
}

.descriptioncont {
  padding-top: 1.5vw;
  padding-left: 0.5vw;
/* add backdrop and hover effect making the backdrop transparency .85 -> 1 */
  font-size: 1.5rem;
  color:#D2D5DD;
}

/* mediaquery for iphonex */
@media only screen and (max-width: 700px) {
  .actualbiocont {
    width:75%;
  }
  .border{
    height: 130%;
    width:100%;
    border-style: solid;
    border-color: rgb(153, 154, 198);
    border-bottom-width: .2rem;
    border-left-width:0rem;
    border-right-width: 0rem;
    border-top-width: 0rem;
    margin-left:1vw;
    padding-bottom: 10vw;
    
  }
  .aboutmecont {
    /* font-size:6vw; */
    /* font-size: 2.5rem; */
    padding-left: 2vw;
  }
  .actualnamecont {
    font-size: 2rem;
  }
  .descriptioncont {
    /* font-size:4.5vw; */
    font-size: 1.25rem;
    padding-left: 2vw;
    padding-top: 1vh;
  }
  .Bodycont {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* .outerbordercont{
        border-left-width: .4vw;
        border-right-width: .4vw;
    } */
  /* .outerbordercont:hover { */
    /* border-bottom-width: 1vw; */
    /* border-left-width: 0vw;
    border-right-width: 0vw; */
  /* } */
  /* .outerbordercont { */
    /* border-bottom-width: 0.2rem;
    border-radius: 0px; */
    /* right:2vw; */
    /* width: 97%;
    padding-bottom: 15vh;
    margin-left: 2vw; */
    
  /* } */
  .aboutmecont::after {
    margin-top: 1.5rem;
  }
}
