.Body3cont{
width: 100vw;
height:100vh;
background-color:slategray;
display:flex;
flex-direction: column;
justify-content: center;
position: relative;
align-items: center;
}
.projectscont{
/* background-color:lightgray; */
width:50%;
/* height:50%; */
position:relative;
display:flex;
flex-direction: row;
}
.projectwordbox{
    /* background-color: aquamarine; */
    font-size: 2.5rem;
}
.projectscont::after{
    content: "";
    margin-top: 3vh;
    margin-left: 1vw;
    display: block;
    width: 100%;
    height: .2rem;
    background-color: #f0f0f0;
}
