.ContactMeCont{
    height:50vh;
    background-color:rgb(41,47,54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}

.supercont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlecont{
    font-size: 2.75vw;
    padding-bottom: 5vh;
    color:rgb(232, 235, 228);
}


.contactlink:link{
    color: rgb(232, 235, 228);;
    text-decoration: none;
}
.contactlink:visited{
    color:rgb(232, 235, 228);
}
.contactlink:hover{
    background-color:rgb(153, 154, 198);
    color:lightyellow;  
}
.contactlink{
    border-radius: .5rem;
    border-style: solid;
    border-color: rgb(153, 154, 198);

    padding:.8rem;
    font-size: 1.5vw;
}



/* optimize this section for mobile */

@media only screen and (max-width: 1000px) {
    .titlecont{
        font-size: 7vw;
    }
    .contactlink{
        font-size: 4vw;
    }
}