.ContactMeCont{
    height:50vh;
    background-color:lightyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}

.supercont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlecont{
    font-size: 2.75vw;
    padding-bottom: 5vh;
}


.contactlink:link{
    color: black;
    text-decoration: none;
}
.contactlink:visited{
    color:black;
}
.contactlink:hover{
    background-color:mediumaquamarine;
    color:lightyellow;  
}
.contactlink{
    border-radius: 7px;
    border-style: solid;
    border-color: mediumaquamarine;

    padding:.8rem;
    font-size: 1.5vw;
}



/* optimize this section for mobile */

@media only screen and (max-width: 1100px) {
    .titlecont{
        font-size: 1.75rem;
    }
    .contactlink{
        font-size: 1rem;
    }
}