
.actualpfp{
    /* height:65%; */
    width:15vw;
    /* border-radius:13vw; */
    /* margin-bottom: -.5rem; */
    /* padding:4px; */
    /* overflow: hidden; */
    border-style: solid;
    border-radius:100%;
    border-width: .8vw;
    border-color:darkseagreen; 
    object-fit: cover;

}
.image{

}
.introcont{
  
    /* display: flex; */
    font-size: 2.5vw;
    padding-bottom: .25rem;
    
}
.namecont{
    /* background-color: aquamarine; */
    padding-bottom: 2rem;
    font-size: 3.5vw;
    
}
.biocont{
    font-size:2vw;
    display:flex;
    justify-content: center;
    /* background-color: blue; */
    
}
.cvlink{
    /* background-color: teal; */
    display: flex;
    justify-content: center;
    width:9.1vw;
    border-radius:5vw;
    border-style:solid;
    border-width: .5vw;
    border-color:palegreen;
}
.cvlink:link{
    color:black;
    text-decoration:none;
}
.cvlink:visited{
    color:black;
}

.cvlink:hover{
    background-color: palegreen;
    color:papayawhip;
}
.Headcontainer{
    /* width: 100vw; */
    height: 100vh;
    background-color:lemonchiffon;
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: ; */
}
.nameandbiocontainer{
      /* text currently doesnt scale properly with mobile devices idk why */
      /* watch vid on mobile scaling */
    /* background-color: chocolate; */
    display:flex;
    flex-direction: column;
    /* justify-content:space-evenly; */
    justify-content: center;
    /* align-items:left; */

}
.piccontainer{

    /* maybe add animation to border here */
    /* background-color:slategray; */
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    /* padding:4px; */
    /* width: 50vw; */
    /* border-radius:13vw;
    border-style:solid;
    border-width: .65vw;
    border-color:darkseagreen; */

}
/* mediaquery for iphonex */
@media only screen and (max-width:700px){
    .Headcontainer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .piccontainer{
        margin-left: 0rem;
        
    }
    .namecont{
        font-size: 10vw;
    }
    .introcont{
        font-size: 8vw;
    }
    .biocont{
        font-size: 5vw;
        padding-bottom: 4vh;
    }

    .cvlink{
    /* background-color: teal; */
    display: flex;
    justify-content: center;
    width:20vw;
    border-radius:5vw;
    border-style:solid;
    border-width: 1vw;
    border-color:palegreen;
}
    .actualpfp{
        width:50vw;
        border-width: 2vw;
    }

}